/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

/* font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif; */

/* main colours used on site */
:root {
  --main-text-color: #172A3A;
  --irish-green: #169B62;
  --decoration1: #83C5BE;
  --decoration2: #EDF6F9;
  
}

/* flex setting in order to fix footer, per materialize docs */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1{
  color: var(--irish-green);
  font-family: 'Hind', sans-serif;
  font-size: 45px;
  text-align: center;
}

h2{
  color: var(--irish-green);
  font-family: 'Hind', sans-serif;
  font-size: 35px;
  text-align: center;
}
h6{
  font-family: 'Hind', sans-serif;
  font-weight: bold;

}
p{
  color: var(--main-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

td {
  width: 50vw;
}


.field-type{
  width: 50vw;
}

.field-option{
  width:25vw ;
}
footer, .nav-wrapper {
    background-color: #83C5BE;
    color: #172A3A;
}

.dropdown-content  {
  background-color: var(--decoration2);
}

.flashes h5 {
  color: var(--decoration2);
  background-color: var(--irish-green);
  line-height: 2;
}

/* Recommendation Cards */
.card {
  border-radius: 5%;
}

.card.medium .card-image+.card-content {
   max-height: 55%;
   padding-bottom: 10px;
   padding-top: 10px;
}

/* action card on recommendation to click to reveal more */
.card.medium .card-action{
padding-top: 2px;
color: var(--irish-green);
}

#recommend-title{
 font-style: italic;
 font-size:16px;
 font-weight: bold;
}

/* set img height to 100% of its container so that all imgs appear same size */
img {
  height: 100%;
  }

  /* 
give id to the close text on the card 
seperate id needed to target just the text 
*/
#reveal-close{
  font-size: 20px;
}

/* 
set font style on card title
appearing on card reveal. Close and icon 
*/
.card-title{
 color: var(--irish-green);
 font-family: 'Hind', sans-serif;
}

/* card image set to 35% height of card */
.card-image  { 
  height: 35%;
  object-fit: contain;
  border-radius: 5%;
}

.card .card-reveal{
  background-color:#a9d3c1;
}

/* Search card styling */
.search-card{
  background-color: var(--decoration2);
  border-radius: 5%;
 }

 #search-input{
   margin:10px;

 }
/* registration page */

/* style button */
.register > button {
  color: var(--main-text-color);
  background-color: var(--decoration2);
}


/* Add new page */
.add_new_btns .btn{
margin: 10px;
  width:45vw;
}

/* change bg color on forms to distinguish */
#newlocation {
  background-color: #dce1e233
}
#newvisitor{
  background-color: #c9d7db79
}
/* Other buttons across the site */
#home-search-button, .btn, .btn-small{
  color: var(--main-text-color);
  background-color: var(--decoration2);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
/* buttons within seach box */
#search-action,
.search-action-btn{
  margin-top: 25px;
}


#home-search-button
{
  font-size: 35px;
  border:none;
  background-color: white;
}

#home-search-button > .fa-search:hover{
  font-size: 40px;
color:var(--main-text-color)
}

.btn:hover, .btn-small:hover{
  color: var(--decoration2);
  background-color: var(--irish-green);
  font-weight: bold;
}

.page-btn{
  background-color: white;
  margin:5px;
  font-size: 10px;
}
.modal-close{
  color: var(--irish-green);
  background-color: var(--decoration2);
  font-weight: bold;
}

.modal-close:hover{
  color: var(--decoration2);
  background-color: var(--irish-green);
  font-weight: bold;
}

.admin-btns{
  margin: 10px;
}
/* icon across the site */
.fa-caret-down {
  font-size: 14px;
}

.fas, .far {
  color: #169B62;
}

.fa-times-circle:hover, .fa-search:hover{
  color: var(--decoration2);
}

/* style ireland icon on navbar */
.nav-wrapper img {
  margin-left: 25px;
  padding-bottom: 0;
  padding-top: 10px;
}
