/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

/* font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif; */

/* main colours used on site */
:root {
  --main-text-color: #172A3A;
  --irish-green: #169B62;
  --decoration1: #83C5BE;
  --decoration2: #EDF6F9;
  
}

/* flex setting in order to fix footer, per materialize docs */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
footer, .nav-wrapper {
    background-color: #83C5BE;
    color: #172A3A;
}

.dropdown-content  {
  background-color: var(--decoration2);
}

.fa-caret-down {
  font-size: 14px;
}

