{% extends "base.html" %}
{% block content %}

<h1>Add a new recommendation  <i class="fas fa-pencil-alt hide-on-small-only"></i></h1>

<div class="row card-panel">
    <form action="{{ url_for('add_recommendation') }}" class="col s12" id="add-new-form" method="POST">
        <!-- image upload area input field Not yet working -->
        <div class="input-field col s12">
            <i class="fas fa-image prefix"></i>
            <textarea id="upload_img" name="upload_img" minlength="5" maxlength="200"
                class="materialize-textarea"></textarea>
            <label for="upload_img"> Image Upload here. Functionality not yet in place</label>
        </div>
        <!-- title input field -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-info-circle prefix tooltipped" data-position="left" data-tooltip="Give your recommendation a title"></i>
                <textarea id="recommend-title" name="recommend-title" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="recommend-title">Title</label>
            </div>
        </div>
        <!-- visitor input field -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-tag prefix  tooltipped" data-position="left" data-tooltip="Choose which type of visitor would enjoy it. If you're not sure, pick other"></i>
                <select name="visitor_type" id="visitor_type" class="validate" required>
                    <option value="" disable selected>Choose visitor type</option>
                    {% for visitor in visitor_type %}
                    <option value="{{ visitor.visitor_type }}">{{ visitor.visitor_type }}</option>
                    {% endfor %}
                </select>
                <label for="visitor_type">Visitor Type</label>
            </div>
        </div>
        <!-- location input field -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-location-arrow prefix  tooltipped" data-position="left" data-tooltip="Pick the county in Ireland"></i>
                <select id="location_name" name="location_name" class="validate" required>
                    <option value="" disabled selected>Choose county</option>
                    {% for location in locations %}
                    <option value="{{ location.location_name }}">{{ location.location_name }}</option>
                    {% endfor %}
                </select>
                <label for="location_name">Location</label>
                
            </div>
        </div>
        <!-- details input field -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-comment prefix tooltipped" data-position="left" data-tooltip="Enter details of your recommendation"></i>
                <textarea id="recommend-details" name="recommend-details" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="recommend-details">Details</label>
            </div>
        </div>
        <div class="row" id="add_new_btns">
            <div class="col s12 center-align">
                <button class="btn tooltipped" data-position="bottom" data-tooltip="Click this button to upload your recommendation" type="submit" name="action">
                   Add Recommendation
                </button>
                <button type="button" class="btn tooltipped" data-position="bottom" 
                    data-tooltip="This button will clear the form so you can start over" onclick="resetAddForm();">
                    Clear Form
                </button>
            </div>
        </div>


        </button>

    </form>
</div>
{% endblock %}