{% extends "base.html" %}
{% block content %}

<!-- 
Page for admin user to the page to access forms 
and can to add new details to the categories for dropdown lists
-->
<h1>Add a new field <i class="fas fa-pencil-alt hide-on-small-only"></i></h1>

<a href="{{ url_for('admin') }}" class="btn-flat">Back to Admin Page</a>

<div class="row card-panel">
    <form action="{{ url_for('add_visitor_details') }}" class="col s12" method="POST" id="newvisitor">
        <!-- 
        Visitor input field 
        Admin user can add a new Visitor type for users to choose from
        -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-tag prefix"></i>
                <input type="text" class="validate" required id="visitor_type" name="visitor_type" 
                minlength="4" maxlength="25" pattern="^[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]$">
                <label for="visitor_type">Visitor Type</label>
            </div>
        </div>
        <!-- buttons to submit new or clear what had been typed in the input box -->
        <div class="row add_new_btns">
            <div class="col s12 center-align">
                <button class="btn col s6 m3 offset-m2 add-new" type="submit" name="action">
                    Add visitor Type
                </button>
                <button type="button" class="btn col s5 offset-s1 m3 offset-m2 add-new" onclick="resetAddForm();">
                    Clear Form
                </button>
            </div>
        </div>
    </form>
    <!-- Admin user can add a new location name for users to choose from -->
    <form action="{{ url_for('add_location') }}" class="col s12" method="POST" id="newlocation">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-tag prefix"></i>
                <!-- pattern ensures that cannot have leading and trailing whitespaces-->
                <input type="text" class="validate" required id="location_name" name="location_name" minlength="4" maxlength="25" pattern="^[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]$">
                <label for="location_name">Location Name</label>
            </div>
        </div>
        <!-- buttons to submit new or clear what had been typed in the input box -->
        <div class="row add_new_btns">
            <div class="center-align">
                <button class="btn col s6 m3 offset-m2 add-new" type="submit" name="action">
                    Add Location
                </button>
                 <button type="button" class="btn col s5 offset-s1 m3 offset-m2 add-new" onclick="resetAddForm();">
                    Clear Form
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}