{% extends "base.html" %}
{% block content %}

<h1>Admin</h1>
<div class="row">
<a class="waves-effect waves-light btn col s8 offset-s2 admin-btns disabled">Manage Recommendation Form Fields</a>

<a href="{{ url_for('manage_form_fields')}}" class="waves-effect waves-light btn col s8 offset-s2 admin-btns">Manage Visitor and locations Details</a>
<a class="waves-effect waves-light btn col s8 offset-s2 admin-btns">Delete User Recommendations</a>
<a href="{{ url_for('users_admin') }}" class="waves-effect waves-light btn col s8 offset-s2 admin-btns">Delete User</a>

</div>
{% endblock %}