{% extends "base.html" %}
{% block content %}

<h1>Edit Field Details <i class="fas fa-pencil-alt hide-on-small-only"></i></h1>

<div class="row card-panel">
    <form action="{{ url_for('edit_visitor_type', visitor_id=visitor._id) }}" class="col s12" method="POST">
        <!-- visitor input field -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-tag prefix"></i>
                <input type="text" value="{{visitor.visitor_type }}" class="validate" required id="visitor_type"
                    name="visitor_type">
                <label for="visitor_type">Visitor Type</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn tooltipped" data-position="bottom"
                    data-tooltip="Click this button to confirm changes" type="submit" name="action">
                    Confirm changes
                </button>
                <a href="{{ url_for('manage_form_details') }}" class="btn tooltipped">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
            </div>
        </div>

    </form>


</div>
{% endblock %}