{% extends "base.html" %}

{% block content %}


<h1>Welcome to Hidden Irish Travels</h1>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<i
        class="far fa-smile"></i></p>



{% if recommendations|length > 0 %}
<div class="container-fluid">
    <div class="row recommendation-row">
        {% for recommendation in recommendations %}

        <div class="col s12 m6 l3">
            <div class="card medium">
                <div class="card-image">
                    <img src="#" alt="" class="activator">
                </div>
                <div class="card-content">
                    <h5 id="recommend-title"> {{recommendation.title}}</h5>
                    <p> <i class="fas fa-location-arrow"></i> {{ recommendation.location }} </p>
                    <p> <i class="fas fa-info"> </i> {{ recommendation.visitor_type }}</p>
                    <p><i class="fas fa-comment"></i> {{ recommendation.details }}
                    </p>
                    <!-- card action footer. user click to reveal more. wrapped on strong to emphasise action -->
                    <strong><div class="activator card-action">Click to see More..</div></strong>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="far fa-times-circle right"></i><span><br>
                            <p> <i class="fas fa-comment"></i> {{ recommendation.details }}</p>
                            <p> Created By: <span>{{ recommendation.created_by }}</span></p>
                            <div class="card-title activator right" id="reveal-close">Close  <i class="far fa-times-circle"></i>
                            </div>
                </div>
            </div>
        </div>

        {% endfor %}


    </div>
    <!-- end of row for cards -->
</div>
<!-- end of container -->
{% endif %}

{% endblock %}