{% extends "base.html" %}

{% block content %}
<h1>Welcome to Hidden Irish Travels</h1>
<p>This is a paragraph giving an overview of the site<i class="far fa-smile"></i></p>

<div class="container">

    <div class="row">


        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img class="activator" src="/static/images/botanic-garden-dublin.jpg">
                    <span class="card-title activator">Place to recommended</span>
                </div>
                <div class="card-content">
                    <div class="card-reveal">
                        <p>Recommended for who</p>
                        <p>location</p>
                        <p>Details <span>Talbot Botanic Gardens at Malahide Castle and Demesne Regional Park are
                                ornamental
                                gardens adjoining the castle, and cover an area of about 22 acres. In all there are in
                                excess of
                                5000 difference species and varieties of plants present. The Gardens are managed by
                                Shannon
                                Heritage on behalf of Fingal County Council.</span></p>
                        <p>username</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/greystones-cove-sunrise.jpg">
                    <span class="card-title">Place to recommended</span>
                </div>
                <div class="card-content">
                    <p>Recommended for who</p>
                    <p>location</p>
                    <p>Details <span>Sunrise at the cove in Greystones, Co wicklow.</span></p>
                    <p>username</p>
                </div>

            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/ashford-devils-glen3.jpg">
                    <span class="card-title">Place to recommended</span>
                </div>
                <div class="card-content">
                    <p>Recommended for who</p>
                    <p>location</p>
                    <p>Details <span>this is Devils Glen in Co wicklow.</span></p>
                    <p>username</p>
                </div>

            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/g-connemara-killary-harbour.jpg">
                    <span class="card-title">Place to recommended</span>
                </div>
                <div class="card-content">
                    <p>Recommended for who</p>
                    <p>location</p>
                    <p>Details <span>The flooded valley is 16 kilometres (9.9 mi) long, and in the centre over 42–45
                            metres (138–148 ft) deep; the sea level is higher outside its mouth, as is normal for a
                            fjord.</span></p>
                    <p>username</p>
                </div>

            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/botanic-garden-dublin.jpg">
                    <span class="card-title">Place to recommended</span>
                </div>
                <div class="card-content">
                    <p>Recommended for who</p>
                    <p>location</p>
                    <p>Details Talbot Botanic Gardens at Malahide Castle and Demesne Regional Park are ornamental
                            gardens adjoining the castle, and cover an area of about 22 acres..</p>
                    <p>username</p>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}