{% extends "base.html" %}

{% block content %}
<h1>Welcome to Hidden Irish Travels</h1>
<p>This is a paragraph giving an overview of the site<i class="far fa-smile"></i></p>


<div class="container-fluid">
    <div class="row recommendation-row">

           <div class="card medium col s12 m6 l3">
            <div class="card-image">
                <img src="static/images/g-connemara-killary-harbour.jpg" alt="" class="activator">
            </div>
            <div class="card-content">
                <p>Place to recommended<span>title data goes here</span></p>
                <p>location <span>locations data here</span></p>
                <span class="card-title activator">Click to see More</span>
            </div>
            <div class="card-reveal">
                <span class="card-title"> Visitor_type (for_who) data goes here <span></span><i class="far fa-times-circle"></i></p>

                    <p> Details<span>Recommendation details goes here.</span>
                    </p>
                    <p> Created By <span>username</span></p>

                    <p class="card-title activator">Close<br><i
                            class="far fa-times-circle"></i>
                    </p>
            </div>
        </div>
        <div class="card medium col s12 m6 l3">
            <div class="card-image">
                <img src="static/images/botanic-garden-dublin.jpg" alt="" class="activator">
            </div>
            <div class="card-content">
                <p>Place to recommended<span>title data goes here</span></p>
                <p>location <span>locations data here</span></p>
                <span class="card-title activator">Click to see More</span>
            </div>
            <div class="card-reveal">
                <span class="card-title"> Visitor_type (for_who) data goes here <span></span><i class="far fa-times-circle"></i></p>

                    <p> Details<span>Recommendation details goes here.</span>
                    </p>
                    <p> Created By <span>username</span></p>

                    <p class="card-title activator">Close<br><i
                            class="far fa-times-circle"></i>
                    </p>
            </div>
        </div>
    </div>
    <!-- end of row for cards -->
</div>
<!-- end of container -->

{% endblock %}