{% extends "base.html" %}

{% block content %}



<h1>Welcome</h1>
<div class="container">
    <div class="row">
        image


        <a href="{{ url_for('images')}}" class="btn col s6 page-btn">image </a>

        <p>image test</p>



        {% if images|length > 0 %}
        <div class="container-fluid">
            <div class="row recommendation-row">
                {% for image in images %}


                <!-- <img src="{{ image.upload_image }}"> -->
                <p> {{ image.image_name }} </p>
<!-- 
{% if images.image_name == "woods" %}
{{ image.upload_image }}
{% endif %} -->
                {% endfor %}

                <!-- end of row for cards -->
            </div>
        </div>
        <!-- end of container -->
        {% else %}
        <h3 class="center-align red-text">No Results found</h3>
        {% endif %}

        {% endblock %}