{% extends "base.html" %}

{% block content %}

<h1>Log In Here</h1>

<div class="row">
    <form action="{{ url_for('login')}}" method="POST" class="col s12 m8 offset-m2">
        <div class="card-panel blue-grey lighten-5">
            <!-- Input for username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-user prefix"></i>
                    <input type="text" id="username" name="username" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-unlock-alt prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Log in button -->
            <div class="row register">
                <button type="submit" class="btn col s8 offset-s2" name="action"><i
                        class="fas fa-sign-in-alt prefix"></i>
                    Log In
                </button>
            </div>
        </div>
    </form>
</div>
<!-- end of row containing log in form-->


<div class="row">
    <div class="col s12">
        <p class="center-align">Not registered?
            <a href="{{ url_for('registration') }}">Register here </a>
        </p>
    </div>
</div>

{% endblock %}