{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Manage Form Fields</h1>

<section>
<div class="row">
    <h6>Visitor Types</h6>
    {% for visitor in visitor_type %}
    <ul class="collection">
      <li class="collection-item avatar">
          <i class="material-icons circle"></i>
          <span class="title">{{ visitor.visitor_type }}</span>
          
          <a href="#" class="btn">Edit</a>
          <a href="#" class="btn">Delete</a>
        </li>     
    {% endfor %}
</div>
</section>
<section>
<div class="row">
    <h6>Locations</h6>
    {% for location in locations %}
    <ul class="collection">
      <li class="collection-item avatar">
          <i class="material-icons circle"></i>
          <span class="title">{{ location.location_name }}</span>
          
          <a href="#" class="btn">Edit</a>
          <a href="#" class="btn">Delete</a>
        </li>     
    {% endfor %}
</div>
</section>

{% endblock %}