{% extends "base.html" %}
{% block content %}
<!-- this is an admin form to mange details of the dropdown fields 
  which users can select from when adding a receommendation
-->
<h1 class="center-align hide-on-small-only">Manage Form</h1>

<h2>Visitor and location options</h2>
<a href="{{ url_for('admin') }}" class="btn-flat">Back to Admin Page</a>
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_field_details') }}" class="btn page-btn">
      Add New Details <i class="fas fa-plus-square right"></i>
    </a>
  </div>
</div>
<!-- section to display current visitor types -->
<div class="row">
    <!-- 
      header for visitor type with plus minus icon to open/close the collection
    Target on doc ready jquery with toggle
  -->
    <h6>Visitor Types
      <span id="visitor-view-btn">
        <i class="fas fa-plus-circle"></i>
        <i class="fas fa-minus-circle"></i>
      </span>
    </h6>
<!-- layout of data change to table. More even layout then the materialize collections -->
<table id="visitor-collection">
  <tbody class>
    {% for visitor in visitor_type %}
    <tr>
      <td class="field-type">{{ visitor.visitor_type }}</td>
      <td class="field-option"><a href="{{ url_for('edit_visitor_type', visitor_id=visitor._id) }}" class="btn-small">Edit</a></td>
      <td class="field-option"><a class="btn modal-trigger" href="#modal2">Delete</a></td>
    </tr>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <a href="{{ url_for('manage_form_details') }}" class="modal-close btn-flat">Dismiss </a>
        <a href="{{ url_for('delete_visitor_type', visitor_id=visitor._id) }}" class="modal-close btn-flat">Confirm
          Deletion</a>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>

</div>
<div class="row">
<!-- 
      header for location with plus minus icon to open/close the collection
    Target on doc ready jquery with toggle
  -->
<h6>Locations <span id="location-view-btn">
    <i class="fas fa-plus-circle"></i>
    <i class="fas fa-minus-circle"></i>
  </span>
</h6>
<!-- layout of data change to table. More even layout then the materialize collections -->
<table id="location-collection">
  <tbody>
    {% for location in locations %}
    <tr>
      <td class="field-typegit">{{ location.location_name }}</td>
      <td class="field-option"> <a href="{{ url_for('edit_location', location_id=location._id) }}" class="btn">Edit</a></td>
      <td class="field-option"><a class="btn modal-trigger" href="#modal3">Delete</a></td>
    </tr>
    <!-- Modal Structure -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <a href="{{ url_for('manage_form_details') }}" class="modal-close btn-flat">Dismiss </a>
        <a href="{{ url_for('delete_location', location_id=location._id) }}" class="modal-close btn-flat">Confirm
          Deletion</a>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}