{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Manage Form Fields</h1>


<div class="row">
  <div class="col s12 center-align">
      <a href="{{ url_for('add_field_details') }}" class="btn-large light-blue darken-2 text-shadow">
          Add New Details <i class="fas fa-plus-square right"></i>
      </a>
  </div>
</div>



<section>
<div class="row">
    <h6>Visitor Types</h6>
    <ul class="collection">
    {% for visitor in visitor_type %}
    
      <li  class="collection-item">
          <i class="material-icons circle"></i>
          <span class="title">{{ visitor.visitor_type }}</span>
          
          <a href="#" class="btn">Edit</a>
          <a href="#" class="btn">Delete</a>
        </li>  
        
    {% endfor %}
  </ul> 
</div>
</section>
<section>
<div class="row">
    <h6>Locations</h6>
    <ul class="collection">
    {% for location in locations %}
    
      <li class="collection-item avatar">
          <i class="material-icons circle"></i>
          <span class="title">{{ location.location_name }}</span>
          
          <a href="#" class="btn">Edit</a>
          <a href="#" class="btn">Delete</a>
        </li>     
    {% endfor %}
    </ul>
</div>
</section>

{% endblock %}