{% extends "base.html" %}
{% block content %}


<!-- This is page for Admin only, who will also have access to the Cloudinary and mongodb accounts -->
<!-- // Upload widget from Cloudinary docs -->
<h1>Upload Page</h1>
<a href="{{ url_for('admin') }}" class="btn-flat" id="back-admin">Back to Admin Page</a>
<br>
<p> Once image is uploaded in cloudinary, copy the url  from below field. <br>
    In the images collection in Mongo, insert a new document,
    image_name: add a name related to the image. This is what the user will see when selecting an image to use. 
    For upload_image field, you will add the url from cloudinary


<div class="row center-align">
<button id="upload_widget" class="cloudinary-button">Upload files</button>
<!-- When an image uploads, the URL will be sent to this field, where it can be copied to the DB -->
<!-- code to do this found on https://stackoverflow.com/questions/58914865/cloudinary-secure-url-to-form -->
<input type="text" name="secure_url" id="secure_url">
<label for="secure_url"></label>
</div>

<script src="https://upload-widget.cloudinary.com/global/all.js"></script>  

{% endblock %}