{% extends "base.html" %}
{% block content %}

<div class="card-panel">
    <h1 class="center-align"> {{ username }}'s' Recommendations</h1>

    <p>If you are new to our site, and haven't yet uploaded anything, this page will look a little blank.
      Dont worry, you can select Add New from the recommendation menu, add something in there.
    This will then appear below. Where you can edit or delete, or just view what you have uploaded. <br>
    Please go to our home page, to see all user receommendations</p>

    {% if recommendations|length > 0 %}     
    <div class="container-fluid">
        <div class="row recommendation-row">
            {% for recommendation in recommendations %}
            {% if session.user|lower == recommendation.created_by|lower %}
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img src="#" alt="image to be inserted" class="activator">
                    </div>
                    <div class="card-content" id="user-card-content">
                        <h5 id="recommend-title"> {{recommendation.title}}</h5>
                        <p> <i class="fas fa-location-arrow"></i> {{ recommendation.location_name }} </p>
                        <p> <i class="fas fa-user-tag"> </i> {{ recommendation.visitor_type }}</p>
                        <p id="recommend-details-user"><i class="fas fa-comment"></i> {{ recommendation.details }}</p>
                        <hr>
                        <p> Created By: </i> {{ recommendation.created_by }}</p>
                        <br>
                        <!-- 
                            At this point all user recommendations are showing on the user page. 
                            Until filter in place, edit is restricted to the user 
                        -->
                        {% if session.user|lower == recommendation.created_by|lower %}
                        <a href="{{ url_for('edit_recommendations', recommendation_id=recommendation._id) }}" class="btn-small">Edit</a>
                        <a href="{{ url_for('delete_recommendation', recommendation_id=recommendation._id) }}" class="btn-small">Delete</a>
                        {% endif %}
                    </div>
                    
                    
                </div>
            </div>
           
            {% endif %}
            {% endfor %}
        </div>
        <!-- end of row for cards -->
    </div>
    <!-- end of container -->
    {% endif %}
    




</div>
{% endblock %}