{% extends "base.html" %}
{% block content %}
<!-- This page is for logged in users to view/search their own uploaded receommendations -->
<h1 class="center-align"> {{ username }}'s page</h1>

<div class="scroll-2"> <span
    class="sr-only">(image of boats in harbour. Using parallax effect)          
    </div>


{% if session.user %}
<a href="{{ url_for('home')}}" class="btn col s6 page-btn">Home <i class="fas fa-home"></i></a>

{% endif %}
<p>If you are new to our site, and haven't yet uploaded anything, this page will look a little blank.
    Dont worry, you can select Add New from the recommendation menu, add something in there.
    This will then appear below. Where you can edit or delete, or just view what you have uploaded. <br>
    Please go to our home page, to see all user receommendations</p>

<div class="row center-align">

    <button id="home-search-button"><i class="fas fa-search"></i></button>

    <div class="row center-align" id="clear-search">
        <a href="{{ url_for('user_page', username=session['user'])}}"> <i class="fas fa-times"></i> Clear Search</a>
    </div>
</div>



<!-- search on the user page will only give results for the loggedin user-->
<div class="container search-container">

    <div class="row card-panel search-card">
        <form action="{{ url_for('search_user_page') }}" method="POST" class="col s12" id="search-form">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s8" id="search-input">
                    <input type="text" name="query" id="query" required class="validate">
                    <label for="query">Search here</label>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="btn-small text-shadow center" id="search-action">
                            <i class="fas fa-search left hide-on-small-only"></i> Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Card to show search results and all the users uploaded recommendations -->
<div class="card-panel" id="table">
    {% if recommendations|length > 0 %}
    <div class="container-fluid">
        <div class="row recommendation-row">
            {% for recommendation in recommendations %}
            {% if session.user|lower == recommendation.created_by|lower %}
            <div class="col s12 m6 l3">
                <div class="card medium">
                    <div class="card-image">
                        <img src="{{ recommendation.image_url }}" alt="image to be inserted" class="activator">
                    </div>
                    <div class="card-content" id="user-card-content">
                        <h5 id="recommend-title"> {{recommendation.title}}</h5>
                        <p> <i class="fas fa-location-arrow"></i> {{ recommendation.location_name }} </p>
                        <p> <i class="fas fa-user-tag"> </i> {{ recommendation.visitor_type }}</p>
                        <p id="recommend-details-user"><i class="fas fa-comment"></i> {{ recommendation.details }}</p>
                        <hr>
                                              <!-- 
                                User recommendations created by the logged in user are showing on the user page. 
                        -->
                        {% if session.user|lower == recommendation.created_by|lower %}
                        <a href="{{ url_for('edit_recommendations', recommendation_id=recommendation._id) }}"
                            class="btn">Edit</a>
                        <!-- Modal Trigger To ask User to confirm before deletion happens-->
                        <a class="btn modal-trigger" href="#modal1">Delete</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <p>Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_recommendation', recommendation_id=recommendation._id) }}"
                                    class="modal-action modal-close btn-flat">Confirm Deletion</a>
                                <a href="{{ url_for('user_page', username=session['user'])}}!"
                                    class="modal-close btn-flat">Dismiss </a>
                                
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- closing card content div -->

                    <div class="activator card-action">
                        Click to see More <i class="fas fa-angle-double-right"></i>
                    </div>
                    <!-- Full recommendation revealed when user click -->
                    <div class="card-reveal">
                        <span class="card-title"><i class="far fa-times-circle right"></i><span><br>
                                <p> <i class="fas fa-comment"></i> {{ recommendation.details }}</p>
                                <p> Created By: <span>{{ recommendation.created_by }}</span></p>
                                <div class="card-title activator right" id="reveal-close">Close <i
                                        class="far fa-times-circle"></i>
                                </div>
                    </div>
                </div>
                <!-- closing card div -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- end of row for cards -->
    </div>
    <!-- end of container -->
    {% else %}
    <h3 class="center-align red-text">No Results found</h3>
    {% endif %}
</div>
{% endblock %}