{% extends "base.html" %}
{% block content %}

<!-- this page gives the Admin user options to view and delete users -->
<h1 class="center-align">Manage Users</h1>

<a href="{{ url_for('admin') }}" class="btn-flat">Back to Admin Page</a>

<!-- section to display current users -->
<section>
  <div class="row">
  <div class="input-field col s8 offset-s2">
  <i class="fas fa-search prefix"></i> <input type="text" id="search" placeholder="Type to search">
</div>
</div>
  <div class="row">
<!-- js code for search box onusers. Found on stack overflow post
http://jsfiddle.net/JeroenSormani/xhpkfwgd/1/ -->   
    <table class="centered" id="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Date Registered</th>
          <th>Option</th>
        </tr>
      </thead>
      {% for user in username %}
      <tbody>
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.timestamp }}</td>
          <td>
            <!-- Modal Trigger To ask User to confirm before deletion happens-->
            <a class="btn modal-trigger" href="#modal4">Delete</a>
            <!-- Modal Structure -->
            <div id="modal4" class="modal">
              <div class="modal-content">
                <a href="{{ url_for('users_admin') }}" class="modal-close btn-flat">Dismiss </a>
                <a href="{{ url_for('delete_user', user_id=user._id)}}" class="modal-close btn-flat">Confirm
                  Deletion</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</section>


{% endblock %}